@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #c52e1d;
}

.nav-container a {
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

header .logo {
  color: #ffffff;
  font-size: 1.15em;
  margin: auto 0;
}

header ul {
  display: flex;
}

.nav-container ul li a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  transition: color 0.5s;
  font-size: 1em;
  margin: auto 0;
  padding: 0.5em;
}

.nav-container ul li .underline {
  height: 2px;
  background: transparent;
  width: 0;
  transition: width 0.2s, background 0.5s;
  margin: 0 auto;
}

.nav-container ul li.active-link .underline {
  width: 100%;
  background: #ffffff;
}

.nav-container ul li:hover .underline {
  background: #ffffff;
  width: 100%;
}

.nav-container ul li:active a {
  transition: none;
  color: rgba(255, 255, 255, 0.8);
}

.nav-container ul li:active .underline {
  transition: none;
  background: #ffffff;
}

.social-header, .splash-design {
  display: none;
}

.splash {
  background: #ff6347;
  color: #ffffff;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #ff9574;
}

.down-arrow {
  font-size: 2em;
  margin-left: 0.25em;
}

.scroll {
  width: 30px;
  margin-top: 0.5em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #ff9574;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #c52e1d;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: #000000;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #000000;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #c52e1d;
}

.skills-container ul li {
  background: #ffffff;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .skill-title {
  font-weight: bold;
}

.skills-container ul li .featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background: #fafafa;
}

.portfolio-image {
  border-radius: 1em;
  margin-bottom: 2em;
  float: right;
}

@media only screen and (min-width: 800px) {
  .featured, .portfolio {
    text-align: left;
  }

  .featured, .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left, .portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
  }

  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1em;
  }

  .portfolio {
    padding-top: 7em;
  }

  .portfolio-image {
    margin-left: 2em;
  }
}
@media only screen and (min-width: 1050px) {
  .splash {
    height: 90vh;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
  }

  .nav-container header {
    background: #c52e1d;
  }

  header {
    padding: 2em 2em 2em 4em;
  }

  .social-header {
    padding: 2em 4em 2em 0;
  }

  section {
    padding: 4em;
  }

  .social-header {
    display: block;
  }

  .social-header ul {
    display: flex;
    justify-content: space-between;
    width: 7em;
    float: right;
  }

  .social-header ul img {
    width: 20px;
  }

  .splash {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }

  .splash .content {
    background: #ff6347;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }

  .splash .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }

  .meet {
    margin: unset;
  }

  .splash-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
    margin-left: auto;
  }
}
@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }

  .social-header {
    padding: 2em 10em 2em 0;
  }

  section {
    padding: 10em 10em 4em 10em;
  }

  .splash .content {
    padding: 6em 8em 6em 10em;
  }
}
@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }

  .social-header {
    padding: 2em 20em 2em 0;
  }

  section {
    padding: 6em 20em 4em 20em;
  }

  .splash .content {
    padding: 9em 20em 6em 20em;
  }
}
.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}
@keyframes circleAnim {
  from {
    transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    transform: translate(262px, 830px);
  }
}