*{
    background-color: #111111;
    font-family: 'Mukta', sans-serif;
    color: #DDDDDD;
    margin-left: 0.5rem;
}

.classes{
    color: cadetblue;
}

.booksMovies{
    color: crimson;
}

.classGoals{
    color: deeppink;
}

dd{
    margin-left: 3.5rem;
    color: chartreuse;
}

tr{
    alignment: left;
}

thead{
    width: 100%;
}

td.col_head{
    width: 50%;
}

figure{
    float: left;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
}

img.scaled {
    width: 600px;
    height: 400px;
}